
#menu {
  height: 15%;
  clear: both;
  width: auto;
}

#menu ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 5px;
  padding: 0px;
}
#menu li {
  font-size: 1.75em;
  list-style-type: none;
  width: 20%;
  text-align: center;
  transition: background-color 0.5s;
  margin: 10px:
  padding: 5px;
  overflow: hidden;
  background-color: #cdd8cf;

}
#menu li:hover {
  background-color: #85d191;
}
#loc_col {
  float: left;
  width: 40%
  margin-left: 25px;
}
#loc_map {
  float: right;
  width: 40%;
  height: 500px;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;

}


#operation_hours {
  float: left;
  width: 40%;
  position: relative;
  padding: 5px;
  margin: 5px;
  height:auto;
  text-align: center;
}
#useful_links {
  float: right;
  width: 40%;
  position: relative;
  padding: 5px;
  margin: 5px;
  height: auto;
  text-align: center;
}
#loc_message {
  overflow: hidden;
}
