
#menu {
  height: 15%;
  clear: both;
  width: auto;
}

#menu ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 5px;
  padding: 0px;
}
#menu li {
  font-size: 1.75em;
  list-style-type: none;
  width: 20%;
  text-align: center;
  transition: background-color 0.5s;
  margin: 10px:
  padding: 5px;
  overflow: hidden;

}
#menu li:hover {
  background-color: #85d191;
}

#message {
  padding: 5px;
}

#operation_hours {
  float: left;
  width: 40%;
  position: relative;
  padding: 5px;
  margin: 5px;
  height:auto;
}
#useful_links {
  float: right;
  width: 40%;
  position: relative;
  padding: 5px;
  margin: 5px;
  height: auto;
}
