
#menu {
  height: 25%;
  clear: both;
  width: auto;
  background-color: black;
  padding: 5px;

}

#menu ul {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 50px 0px 50px;
}
#menu a {
  font-size: 1.75em;
  list-style-type: none;
  width: 20%;
  text-align: center;
  transition: color 0.5s;
  margin: 10px:
  padding: 5px;
  overflow: hidden;
  background-color: inherit;
  color: grey;

}
#menu a:hover {
  color: white;



}
#loc_col {
  float: left;
  width: 40%
  margin-left: 25px;
}
#loc_map {
  float: right;
  width: 40%;
  height: 500px;
  padding: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
  position: relative;

}

#operation_hours {
  float: left;


  padding: 5px;
  margin: 5px;
  height:auto;
  text-align: center;
}
#useful_links {
  float: right;

  padding: 5px;
  margin: 5px;
  height: auto;
  text-align: center;
}
#smile {
  overflow: hidden;
  padding: 5px;
  margin: 5px;
  height: 25%;
  width: 25%;

}
#loc_message {
  overflow: hidden;
}
