.border {
  border: 2px solid grey;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  clear: both;
  font-weight: bold;
  padding: 5px;
}
footer {
  clear: both;
  border: 2px grey solid;
  overflow: hidden;
  width: auto;
  height: 20%;
  margin-left: 5px;
  margin-right: 5px;

}
.content {
  height: 65%;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}
