.border {
  border: 2px solid grey;

}

a:link {
  text-decoration: none;
  color: grey;
}
a:visited {
  text-decoration: none;
  color: grey;
}

h1 {
  text-align: center;
  clear: both;
  font-weight: bold;
  padding: 5px;
}
.footer span  {
  font-size: 1.75em;
  color: white;
}
.footer {
  clear: both;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: hidden;
  width: auto;
  height: 20%;
  color: grey;
  background-color: #000;


}
.footer li {
    list-style-type: none;
    font-size: 1.25em;

}
body {
  margin-left: 0px;
  margin-right: 0px;

}

.content {
  height: 60%;
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}
.message {
  padding: 5px;
  font-size: 1.25em;
}

.space {
  width: 10%
  position: relative;
}

body {
  padding-top: 0px;
  margin-top: 0px;
}
